# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter repo-specific
/bin/cache/
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/docs/doc/
/dev/docs/lib/
/dev/docs/pubspec.yaml
/packages/flutter/coverage/
version

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Local files
login_response.json

.flutter-plugins-dependencies
example/ios/Flutter/.last_build_id
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/Flutter.podspec

# FVM Version Cache
.fvm/
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/additional_project_files.txt
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/additional_project_files.txt
/example/android/app/.cxx/Debug/3l724mg3/x86/additional_project_files.txt
/example/android/app/.cxx/Debug/3l724mg3/x86_64/additional_project_files.txt
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/android_gradle_build.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/android_gradle_build.json
/example/android/app/.cxx/Debug/3l724mg3/x86/android_gradle_build.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/android_gradle_build.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/3l724mg3/x86/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/android_gradle_build_mini.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/build.ninja
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/build.ninja
/example/android/app/.cxx/Debug/3l724mg3/x86/build.ninja
/example/android/app/.cxx/Debug/3l724mg3/x86_64/build.ninja
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/build_file_index.txt
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/build_file_index.txt
/example/android/app/.cxx/Debug/3l724mg3/x86/build_file_index.txt
/example/android/app/.cxx/Debug/3l724mg3/x86_64/build_file_index.txt
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/reply/cache-v2-3acac2445cd79d7169a7.json
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/reply/cache-v2-a4956c9a567ed88074d5.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/reply/cache-v2-d7146deef594980d571c.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/reply/cache-v2-e9d2314463a60d9eee84.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/cmake.check_cache
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/cmake_install.cmake
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/cmake_install.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86/cmake_install.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86_64/cmake_install.cmake
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeCache.txt
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeCache.txt
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeCache.txt
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeCache.txt
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-65f732f0f76db90b5681.json
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/reply/cmakeFiles-v1-676c707f442588084217.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-941b2a81bd7bd189b030.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-f65326683a6b4e91eb43.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/reply/codemodel-v2-2f69738918b51088718b.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-35612ff4086bec4a85e2.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/reply/codemodel-v2-3009437cb097b762cf78.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-d2962ce3bd06a235185d.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/configure_fingerprint.bin
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/configure_fingerprint.bin
/example/android/app/.cxx/Debug/3l724mg3/x86/configure_fingerprint.bin
/example/android/app/.cxx/Debug/3l724mg3/x86_64/configure_fingerprint.bin
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/example/android/app/.cxx/Debug/3l724mg3/hash_key.txt
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/.cmake/api/v1/reply/index-2025-04-04T02-42-26-0228.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-04T02-42-30-0562.json
/example/android/app/.cxx/Debug/3l724mg3/x86/.cmake/api/v1/reply/index-2025-04-04T02-42-30-0812.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/.cmake/api/v1/reply/index-2025-04-04T02-42-31-0088.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/metadata_generation_command.txt
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/metadata_generation_command.txt
/example/android/app/.cxx/Debug/3l724mg3/x86/metadata_generation_command.txt
/example/android/app/.cxx/Debug/3l724mg3/x86_64/metadata_generation_command.txt
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/prefab_config.json
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/prefab_config.json
/example/android/app/.cxx/Debug/3l724mg3/x86/prefab_config.json
/example/android/app/.cxx/Debug/3l724mg3/x86_64/prefab_config.json
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/rules.ninja
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/symbol_folder_index.txt
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/symbol_folder_index.txt
/example/android/app/.cxx/Debug/3l724mg3/x86/symbol_folder_index.txt
/example/android/app/.cxx/Debug/3l724mg3/x86_64/symbol_folder_index.txt
/example/android/app/.cxx/Debug/3l724mg3/arm64-v8a/CMakeFiles/TargetDirectories.txt
/example/android/app/.cxx/Debug/3l724mg3/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/example/android/app/.cxx/Debug/3l724mg3/x86/CMakeFiles/TargetDirectories.txt
/example/android/app/.cxx/Debug/3l724mg3/x86_64/CMakeFiles/TargetDirectories.txt
